server/default/data/wsdl/SapRfcWS.war/SapRfcAccessService3333700757513072971.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="SapRfcAccessService" targetNamespace="http://sap.hd.com/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://sap.hd.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xs:schema targetNamespace="http://sap.hd.com/" version="1.0" xmlns:tns="http://sap.hd.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="callRfc" type="tns:callRfc"/>
   <xs:element name="callRfcResponse" type="tns:callRfcResponse"/>
   <xs:complexType name="callRfc">
    <xs:sequence>
     <xs:element minOccurs="0" name="arg0" type="xs:string"/>
     <xs:element minOccurs="0" name="arg1" type="xs:string"/>
     <xs:element minOccurs="0" name="arg2" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name="callRfcResponse">
    <xs:sequence>
     <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
  </types>
  <message name="SapRfcAccess_callRfcResponse">
    <part name="callRfcResponse" element="tns:callRfcResponse">
    </part>
  </message>
  <message name="SapRfcAccess_callRfc">
    <part name="callRfc" element="tns:callRfc">
    </part>
  </message>
  <portType name="SapRfcAccess">
    <operation name="callRfc" parameterOrder="callRfc">
      <input message="tns:SapRfcAccess_callRfc">
    </input>
      <output message="tns:SapRfcAccess_callRfcResponse">
    </output>
    </operation>
  </portType>
  <binding name="SapRfcAccessBinding" type="tns:SapRfcAccess">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="callRfc">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="SapRfcAccessService">
    <port name="SapRfcAccessPort" binding="tns:SapRfcAccessBinding">
      <soap:address location="http://127.0.0.1:9090/SapRfcWS"/>
    </port>
  </service>
</definitions>
